@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'libs/reset';

.container {
	margin: 0 60px;
}

.header {
	height: 64px;
	background: var(--Primary-500---Accent, #2196f3);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.categories {
	ul {
		display: flex;
		margin: 0 60px;
		li {
			display: flex;
			align-items: center;
			cursor: pointer;
			color: var(--White-Medium-Emphasis, rgba(255, 255, 255, 0.7));
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0.25px;

			a {
				height: 64px;
				padding: 25px;
			}
		}
	}
}

.active {
	color: var(--White-High-Emphasis, #fff) !important;
	background: var(--Primary-600, #1e88e5);
	transition: all 0.3s ease-in-out;
}

.main {
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.catBlock {
	position: relative;
	transition: all 0.3s ease-in-out;
	.catBlockImg {
		img {
			z-index: 1;
			width: 225px;
			height: 225px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			object-fit: cover;
		}
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
		.favoriteSvg {
			display: block;
		}
	}
}

.favoriteSvg {
	display: none;
	right: 25px;
	bottom: 25px;
	width: 40px;
	height: 40px;
	z-index: 2;
	position: absolute;
	cursor: pointer;
}

.error {
	text-align: center;
	font-size: 24px;
	padding: 100px 0;
}

.desc {
	font-size: 24px;
	span {
		font-size: 80px;
		color: #2196f3;
	}
}

.btnLoading {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.25px;
	border: unset;
	background-color: unset;
	margin: 0 auto;
	margin-bottom: 20px;
	&:hover {
		color: #1e88e5;
	}
}

.btnOnHome {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
	background-color: #2196f3;
  color: #fff;
	border: 1px solid transparent;
	border-radius: 30px;
	cursor: pointer;
	display: inline-block;
	min-width: 100px;
	padding: 10px 20px;
	text-align: center;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	user-select: none;
  &:hover {
    background-color: #1e88e5;
  }
}
