@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'libs/reset';

.container {
	margin: 0 15px;
}

h3 {
  font-size: clamp(1.25rem, calc(1.13rem + 0.62vw), 1.88rem);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	height: 64px;
	background: var(--Primary-500---Accent, #2196f3);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

.categories {
	ul {
		display: flex;
		margin: 0 60px;
		li {
			display: flex;
			align-items: center;
			cursor: pointer;
			color: var(--White-Medium-Emphasis, rgba(255, 255, 255, 0.7));
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0.25px;
		}
	}
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 64px;
	margin: 0 25px;
}

@media (max-width: 430px) {
  .categories {
    ul {
      margin: 0 10px;
      li {
        font-size: 12px;
      }
    }
  }

  .headerBtn {
    margin: 0 10px;
  }
}
.active {
	color: var(--White-High-Emphasis, #fff) !important;
	background: var(--Primary-600, #1e88e5);
	transition: all 0.3s ease-in-out;
}

.main {
  margin-top: 64px;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.catBlock {
	position: relative;
	transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgba(30, 136, 229, 0.24);
	.catBlockImg {
		img {
			z-index: 1;
			width: 225px;
			height: 225px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			object-fit: cover;
		}
	}
	&:hover {
		transform: scale(1.1);
    box-shadow: 0px 4px 4px 0px rgba(30, 136, 229, 0.24);
		.favoriteSvg {
			display: block;
		}
	}
}

.favoriteSvg {
	display: none;
	right: 25px;
	bottom: 25px;
	width: 40px;
	height: 40px;
	z-index: 2;
	position: absolute;
	cursor: pointer;
}

.error {
	text-align: center;
	font-size: 24px;
	padding: 100px 0;
}

.desc {
	font-size: clamp(1.13rem, calc(1.06rem + 0.37vw), 1.5rem);
}

.btnLoading {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.25px;
	border: unset;
	background-color: unset;
	margin: 0 auto;
	margin-bottom: 20px;
	&:hover {
		color: #1e88e5;
	}
}

.btnOnHome {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.25px;
	background-color: #2196f3;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 30px;
	cursor: pointer;
	display: inline-block;
	min-width: 100px;
	padding: 10px 20px;
	text-align: center;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	user-select: none;
	&:hover {
		background-color: #1e88e5;
	}
}
